@{
    ViewData["Title"] = "Home page";
}
<h1>Órdenes</h1>
<h4>Listado</h4>
<hr />
<div class="text-end">
    <button onclick="location.href='@Url.Action("Index", "Orden" )'" class="btn btn-primary">Crear Orden</button>
</div>
<br />
<table class="table table-bordered table-striped" id='tblOrdenes'>
    <thead class="bg-dark text-white">
        <tr>
            <td>Descripción</td>
            <td>Provincia</td>
            <td>Importe Total ($)</td>
            <td>Tiempo Realización (minutos)</td>
            <td>Usuario</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<link rel="stylesheet" href="~/lib/dataTables/css/jquery.dataTables.css" />

@section Scripts {

    <script src="~/lib/jQuery-1.12.4/jquery-1.12.4.js"></script>    
    <script src="~/lib/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/lib/moment/moment-with-locales.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            CargarOrdenes();
        });

        function CargarOrdenes() {
            var columns = [];
            $.ajax({
                type: "POST",
                url: "/Orden/GetOrdenes",
                success: function(data) {
                    console.log(data);
                    // $.each(data, function(key, value) {
                    //     columns.push([value.descripcion, value.idProvincia, value.importe, value.tiempoRealizacion, value.idUsuario, value.fecha])
                    // })
                    // console.log(columns);

                    $('#tblOrdenes').DataTable({
                        data: data,
                        columns: [
                                { "data": "descripcion" },
                                { "data": "provincia" },
                                { "data": "importe" },
                                { "data": "tiempoRealizacion" },
                                { "data": "usuario" },
                                { "data": "fecha" }
                        ],
                        language: {
                          "emptyTable": "No hay órdenes cargadas",
                          "search": "Buscar: ",
                          "lengthMenu": "Mostrar _MENU_ registros por página",
                          "paginate": {
                              "previous": "Anterior",
                              "next": "Siguiente"
                          },
                          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                          "sZeroRecords": "No se encontraron resultados",
                        },
                        columnDefs: [
                                    {
                                        "targets": 5,
                                        "render": DataTable.render.datetime('DD/MM/YYYY, HH:mm:ss')
                                    }
                        ]
                    });
                },
                failure: function(err) {
                    console.log(err);
                }
            });
        }

    </script>

                          }